h1.newt-t{
    color: rgba(2, 24, 44, 0.79);
}
.motions{
    background-image: url(Newton\ laws.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  h1{
    text-align: center;
    color: rgb(208, 90, 35);
  }